data/
ZkSync/data/
data_arbitrum/
data_optimism/
parquet_data_arbitrum/
parquet_data_optimism/
results_backup/
arbitrum_erc20_dumps/
optimism_erc20_dumps/
results/results/MACHINE_DUMP
*.parquet
.env
arb_temp/
parquet_temp/
*_erc20_dumps/
parquet_data_*/
data_*/
_pycache_/*
results/*
*.csv
_pycache_/
*.pyc
*.zip
*.xlsx
__pycache__/*
*/__pycache__
__pycache__
distribution_similarity_*
src/*.txt
src/*.tar.*
src/multichain_analysis/sensitivity.py
src/multichain_analysis/sensitivity_birthday.py
src/multichain_analysis/sensitivity_asset_value.py
src/multichain_analysis/sensitivity_utility.py
src/manual_analysis/*.pdf
Poisoning-Results-Final_old.rar
manual_analysis_rar