data/
ZkSync/data/
data_arbitrum/
data_optimism/
parquet_data_arbitrum/
parquet_data_optimism/
results_backup/
arbitrum_erc20_dumps/
optimism_erc20_dumps/
results/results/MACHINE_DUMP
*.parquet
.env
arb_temp/
parquet_temp/
*_erc20_dumps/
parquet_data_*/
data_*/
_pycache_/*
results/*
*.csv
_pycache_/
*.pyc
*.zip
*.xlsx
__pycache__/*
*/__pycache__
__pycache__
distribution_similarity_*